.contact{
  width: 100%;
  height: 22rem;
  position: relative;
}
.image{
  width: 100%;
  min-height: 20rem;
  object-fit:cover;
}

.title{
  position: absolute;
  top: 11rem;
  width: 100%;
  color: white;
  text-align: center;
}
.title h1{
  font-weight: 600;
  font-size: 50px;
}