.form{
  margin: 2rem 10rem ;
  align-items: center;
}

.form h2{
  text-align: center;
}

.form form{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.form input{
  height: 3rem;
  padding: 0 1rem;
  margin: 1rem 0;
  border: black solid 2px;
  border-radius: 0.5rem;
}

.form textarea{
  padding: 0 1rem;
  margin: 1rem 0;
  margin-bottom: 2rem;
  border: black solid 2px;
  border-radius: 0.5rem;
}

.form button{
  padding: 0 1rem;
  margin: auto;
  border: black solid 2px;
  border-radius: 0.5rem;
  height: 3rem;
  width: 10rem;
}